

<form #form="ngForm" (ngSubmit)="send(form)" class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">First name</label>
      <input type="text" 
        class="form-control" 
        [class.is-invalid]="form.controls['firstname']?.invalid && form.controls['firstname']?.touched"
        [class.is-valid]="form.controls['firstname']?.valid" 
        id="validationCustom01" 
        placeholder="First name" 
        name="firstname" 
        ngModel 
        required
        minlength="5"
      >
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Last name</label>
      <input type="text" 
      class="form-control"
      [class.is-invalid]="form.controls['lastname']?.invalid && form.controls['lastname']?.touched"
      [class.is-valid]="form.controls['lastname']?.valid && form.controls['lastname']?.touched" 
      id="validationCustom02" 
      placeholder="Last name" 
      name="lastname" 
      ngModel
      ngCustomValidator>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="validationCustom03">Username</label>
      <input type="text" 
      class="form-control"
      [class.is-invalid]="form.controls['username']?.invalid && form.controls['username']?.touched"
      [class.is-valid]="form.controls['username']?.valid && form.controls['username']?.touched" 
      id="validationCustom03" 
      placeholder="Username" 
      name="username" 
      ngModel
      ngUsername>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <ng-ranking [ngModel]="ranking()" name="ranking" />
  <!-- <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom03">City</label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="City" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom04">State</label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="State" required>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom05">Zip</label>
      <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div> -->
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
<!-- 
<form >
    <input type="text" [(ngModel)]="user.firstname" name="firstname" required /><br/>
    <input type="text" [(ngModel)]="user.lastname" name="lastname" /><br/>
    <input type="email" ngModel name="email" email required /><br/>
    <input type="text" ngModel name="taxcode" required [pattern]="taxcodeRgx"/><br/>
    <input type="submit" value="Invia" />
</form>

<button (click)="load()">click me</button>
-->
<hr/>
<h2>{{form.pending}}</h2> 
