<form class="needs-validation" novalidate [formGroup]="form">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom01">Password</label>
      <input type="text" 
        class="form-control" 
        id="validationCustom01" 
        placeholder="Password" 
        formControlName="password"
      >
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom02">Repeat password</label>
      <input type="text" 
      class="form-control"
      id="validationCustom02" 
      placeholder="Repeat password" 
      formControlName="repeat">
    </div>
</div>  
</form>

<pre>{{form.errors | json}}</pre>
<h2>{{form.valid}}</h2>